.container{
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: white;
    border-right: 1px solid #e5e5e5;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

header{
    font-size: 2rem;
    margin-bottom: 10px;
}

.filters_container{
    flex: 1 1 auto;
}
.filters_container div:not(:last-child){
    margin-top: 10px;
}

.range_container{
    display: flex;
}

.filter_title{
    font-size: 18px;
    font-weight: 600;
}